{% extends "default.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}
{{ title }}
{% endblock %}



{% block content %}
<!-- Start Top Bar -->
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Django Site</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      {% if user.is_authenticated %}
      <li><a href="/logout/">Logout</a></li>
      {% else %}
      <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</div>
<!-- End Top Bar -->
<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to our 465 site</h1>
    <!-- <p>{{ submit }}</p> -->
  </div>
</div>
<div class="row">
  <div class="large-5 columns">
    {% if user.is_authenticated %}
      <h3>Welcome {{ user.username }}</h3>
    {% endif %}
    {% if user.is_authenticated %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="large-12 columns">
          {{ form.errors }}
          {{ form.suggestion.label }}
          {{ form.suggestion }}
          </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" value="Submit" class="button">
        </div>
      </div>
    </form>
    {% else %}
    <p> Log in to make your own suggestions</p>
    {% endif %}
  </div>
  <div class="large-7 columns">
    <h2>Suggestions</h2>
    <div id="suggest_list">
      <ul>
      {% for element in content %}
      <li>{{ element.suggestion }}</li>
      {% endfor %}
      </ul>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
{% render_bundle 'main' %}
{% endblock %}
