{% extends "default.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}
{{ title }}
{% endblock %}



{% block content %}
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">465 Blog</li>
          {% if user.is_authenticated %}
          <li><a href="/logout/">Logout</a></li>
          {% else %}
          <li><a href="/login/">Log In</a></li>
          {% endif %}
          <!-- <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li> -->
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large primary">
      <div class="row column text-center">
        <h1>CINS 465</h1>
        <h2 class="subheader">Learning to create a CMS</h2>
      </div>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
{% render_bundle 'main' %}
{% endblock %}
